<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
    <add key="pwd" value="FeuerLand2004" />
    <add key="usr" value="peter.steinkamp@googlemail.com" />
  </appSettings>
</configuration>